Repository PRNDA/flink-cdc-connectors, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, DOCS, BASE, DEBEZIUM, TEST, DB2, MONGODB, MYSQL, OCEANBASE, ORACLE, POSTGRES, SQLSERVER, TIDB, VITESS

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .github/**/*
  - .idea/**/*
  - tools/**/*
  - .gitignore
  - azure-pipelines.ym;
DOCS:
  - docs/**/*
  - README.md
BASE:
  - flink-cdc-base/**/*
DEBEZIUM:
  - flink-cdc-debezium/**/*
TEST:
  - flink-cdc-e2e-tests/**/*
  - flink-connector-test-util/**/*
DB2:
  - flink-connector-db2-cdc/**/*
  - flink-sql-connector-db2-cdc/**/*
MONGODB:
  - flink-connector-mongodb-cdc/**/*
  - flink-sql-connector-mongodb-cdc/**/*
MYSQL:
  - flink-connector-mysql-cdc/**/*
  - flink-sql-connector-mysql-cdc/**/*
OCEANBASE:
  - flink-connector-oceanbase-cdc/**/*
  - flink-sql-connector-oceanbase-cdc/**/*
ORACLE:
  - flink-connector-oracle-cdc/**/*
  - flink-sql-connector-oracle-cdc/**/*
POSTGRES:
  - flink-connector-postgres-cdc/**/*
  - flink-sql-connector-postgres-cdc/**/*
SQLSERVER:
  - flink-connector-sqlserver-cdc/**/*
  - flink-sql-connector-sqlserver-cdc/**/*
TIDB:
  - flink-connector-tidb-cdc/**/*
  - flink-sql-connector-tidb-cdc/**/*
VITESS:
  - flink-connector-vitess-cdc/**/*
  - flink-sql-connector-vitess-cdc/**/*

[pipeline-connector][starrocks] Fix char/varchar length inconsistency between cdc and starrocks
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/test/java/com/ververical/cdc/connectors/starrocks/sink/CdcDataTypeTransformerTest.java
Labels: none

[pipeline-connector][paimon] add paimon pipeline data sink connector.
  docs/content/pipelines/index.md
  docs/content/pipelines/paimon-pipeline(ZH).md
  docs/content/pipelines/paimon-pipeline.md
  flink-cdc-common/src/main/java/com/ververica/cdc/common/types/utils/DataTypeUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/PaimonDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/PaimonDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/PaimonDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/PaimonMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/MultiTableCommittableChannelComputer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonCommitter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonWriter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonWriterHelper.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PreCommitOperator.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/StoreSinkWriteImpl.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/TableSchemaInfo.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/resources/META-INF/services/com.ververica.cdc.common.factories.Factory
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/PaimonDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/PaimonMetadataApplierTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonSinkITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonWriterHelperTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/v2/TestMultiTableCommittableChannelComputer.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/resources/hadoop-conf-dir/core-site.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/resources/hive-conf-dir/hive-site.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/resources/log4j2-test.properties
  flink-cdc-connect/flink-cdc-pipeline-connectors/pom.xml
Labels: DOCS

[cdc-common] add field of defaultValue to Column.
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/Column.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/PhysicalColumn.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/Schema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/parser/CustomAlterTableParserListener.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/main/java/com/ververica/cdc/connectors/mysql/source/reader/MySqlPipelineRecordEmitter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-mysql/src/test/java/com/ververica/cdc/connectors/mysql/source/MySqlPipelineITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksUtils.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/schema/PhysicalColumnSerializer.java
  flink-cdc-runtime/src/test/java/com/ververica/cdc/runtime/serializer/schema/PhysicalColumnSerializerTest.java
Labels: none

[pipeline-connector][paimon] update table cache when receive DataChangeEvent after receiving SchemaChangeEvent.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonWriter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonSinkITCase.java
Labels: none

[cdc-cli] support recover from a specific savepoint file using `-s` cli args.
  docs/content/overview/cdc-pipeline.md
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliExecutor.java
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliFrontend.java
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliFrontendOptions.java
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/utils/FlinkEnvironmentUtils.java
  flink-cdc-cli/src/test/java/com/ververica/cdc/cli/CliFrontendTest.java
Labels: DOCS

use defaultValueExpression
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/Column.java
  flink-cdc-common/src/main/java/com/ververica/cdc/common/schema/PhysicalColumn.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-doris/src/main/java/com/ververica/cdc/connectors/doris/sink/DorisMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksMetadataApplier.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-starrocks/src/main/java/com/ververica/cdc/connectors/starrocks/sink/StarRocksUtils.java
  flink-cdc-runtime/src/main/java/com/ververica/cdc/runtime/serializer/schema/PhysicalColumnSerializer.java
Labels: none

[pipeline-connector][paimon] fix serializable error.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/PaimonMetadataApplier.java
Labels: none

generate MultiTableCommittables in PaimonWriter.flush() method to avoid data loss.
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/main/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonWriter.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-paimon/src/test/java/com/ververica/cdc/connectors/paimon/sink/v2/PaimonSinkITCase.java
Labels: none

[pipeline-connector][kafka] add kafka pipeline data sink connector.
  docs/content/pipelines/index.md
  docs/content/pipelines/kafka-pipeline(ZH).md
  docs/content/pipelines/kafka-pipeline.md
  flink-cdc-common/src/main/java/com/ververica/cdc/common/types/utils/DataTypeUtils.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/json/ChangeLogJsonFormatFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/json/JsonSerializationType.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/json/TableSchemaInfo.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/json/canal/CanalJsonSerializationSchema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/json/debezium/DebeziumJsonSerializationSchema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaOptionsUtil.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/PipelineKafkaRecordSerializationSchema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/resources/META-INF/services/com.ververica.cdc.common.factories.Factory
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/json/MockInitializationContext.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/json/TableSchemaInfoTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/json/canal/CanalJsonSerializationSchemaTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/json/debezium/DebeziumJsonSerializationSchemaTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkFactoryTest.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkITCase.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/sink/KafkaUtil.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/pom.xml
Labels: DOCS

[pipeline-connector][kafka] address comments.
  docs/content/pipelines/kafka-pipeline(ZH).md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/pom.xml
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/resources/log4j2-test.properties
Labels: DOCS

[pipeline-connector][kafka] add more description to doc.
  docs/content/pipelines/kafka-pipeline(ZH).md
  docs/content/pipelines/kafka-pipeline.md
Labels: DOCS

[pipeline-connector][kafka] add `topic`, `sink.add-tableId-to-header-enabled` options.
  docs/content/pipelines/kafka-pipeline(ZH).md
  docs/content/pipelines/kafka-pipeline.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSink.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkFactory.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/PipelineKafkaRecordSerializationSchema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkITCase.java
Labels: DOCS

[pipeline-connector][kafka] add `topic`, `sink.add-tableId-to-header-enabled` options.
  docs/content/pipelines/kafka-pipeline(ZH).md
  docs/content/pipelines/kafka-pipeline.md
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkOptions.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/main/java/com/ververica/cdc/connectors/kafka/sink/PipelineKafkaRecordSerializationSchema.java
  flink-cdc-connect/flink-cdc-pipeline-connectors/flink-cdc-pipeline-connector-kafka/src/test/java/com/ververica/cdc/connectors/kafka/sink/KafkaDataSinkITCase.java
Labels: DOCS

[cdc-cli] add allowNonRestoredState option add rename restoreMode to claimMode.
  docs/content/overview/cdc-pipeline.md
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliFrontend.java
  flink-cdc-cli/src/main/java/com/ververica/cdc/cli/CliFrontendOptions.java
  flink-cdc-cli/src/test/java/com/ververica/cdc/cli/CliFrontendTest.java
Labels: DOCS

[cdc-cli] add allowNonRestoredState option add rename restoreMode to claimMode.
  docs/content/overview/cdc-pipeline.md
Labels: DOCS

[e2e] add pipeline e2e test for mysql connector.
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/pom.xml
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/MysqlE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/JdbcProxy.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/ParameterProperty.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/PipelineTestEnvironment.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/TestUtils.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/bin/flink-cdc.sh
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/conf/flink-cdc.yaml
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/ddl/mysql_inventory.sql
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/docker/mysql/my.cnf
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/docker/mysql/setup.sql
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/log4j2-test.properties
Labels: TEST

[e2e] add pipeline e2e test for mysql connector.
  flink-cdc-e2e-tests/pom.xml
Labels: TEST

[cdc-cli] extract common class to flink-cdc-e2e-utils module, add remove unnecessary file for pipeline e2e test.
  flink-cdc-e2e-tests/flink-cdc-e2e-utils/pom.xml
  flink-cdc-e2e-tests/flink-cdc-e2e-utils/src/test/java/com/ververica/cdc/common/tests/utils/JdbcProxy.java
  flink-cdc-e2e-tests/flink-cdc-e2e-utils/src/test/java/com/ververica/cdc/common/tests/utils/ParameterProperty.java
  flink-cdc-e2e-tests/flink-cdc-e2e-utils/src/test/java/com/ververica/cdc/common/tests/utils/TestUtils.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/pom.xml
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/MysqlE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/ParameterProperty.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/utils/PipelineTestEnvironment.java
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/bin/flink-cdc.sh
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/resources/conf/flink-cdc.yaml
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/pom.xml
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/Db2E2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/MongoE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/MySqlE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/OceanBaseE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/OracleE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/PostgresE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/SqlServerE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/TiDBE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/VitessE2eITCase.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/utils/FlinkContainerTestEnvironment.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/utils/JdbcProxy.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/java/com/ververica/cdc/connectors/tests/utils/TestUtils.java
  flink-cdc-e2e-tests/flink-cdc-source-e2e-tests/src/test/resources/log4j2-test.properties
  flink-cdc-e2e-tests/pom.xml
Labels: TEST

[cdc-cli] extract common class to flink-cdc-e2e-utils module, add remove unnecessary file for pipeline e2e test.
  flink-cdc-e2e-tests/flink-cdc-pipeline-e2e-tests/src/test/java/com/ververica/cdc/pipeline/tests/MysqlE2eITCase.java
Labels: TEST
